In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sbplt
import sklearn

Matplotlib is building the font cache; this may take a moment.

In [15]:
dataChoice=['Day','Month','3 Months','All Time']
suffix=['day','1m','3m','all']
print("Choose training dataset(accuracy varies based on this)\n",dataChoice,"\nEnter 1,2,3 or 4 based the above list")
c=int(input())-1
dataToLoad=suffix[c].join(['BTC_','.csv'])
path='CoinDesk_Data/'+dataToLoad
print(path.join(['Loading ','  ...']))
df=pd.read_csv(path) #dataframe
print("Done.")

Choose training dataset(accuracy varies based on this)
 ['Day', 'Month', '3 Months', 'All Time']
Enter 1,2,3 or 4 based the above list
2
Loading CoinDesk_Data/BTC_1m.csv  ...
Done.

In [16]:
#check received data
df.head()

,Currency,Date,Closing Price (USD),24h Open (USD),24h High (USD),24h Low (USD)
0,BTC,2021-04-15,62398.734968,62220.992332,63069.590697,62094.632914
1,BTC,2021-04-16,61811.862807,62609.234950,63850.250735,60033.534667
2,BTC,2021-04-17,60603.083851,61680.776222,62534.028498,60104.939037
3,BTC,2021-04-18,55246.548090,59900.331027,61118.879385,52148.983544
4,BTC,2021-04-19,55423.666711,55316.212448,57609.368118,54449.245330

In [18]:
#renaming columns for convenience
df=df.rename(columns={'Currency':'index','Date':'date','Closing Price (USD)':'close','24h Open (USD)':'open','24h High (USD)':'high','24h Low (USD)':'low'})
df.head()

  index        date         close          open          high           low
0   BTC  2021-04-15  62398.734968  62220.992332  63069.590697  62094.632914
1   BTC  2021-04-16  61811.862807  62609.234950  63850.250735  60033.534667
2   BTC  2021-04-17  60603.083851  61680.776222  62534.028498  60104.939037
3   BTC  2021-04-18  55246.548090  59900.331027  61118.879385  52148.983544
4   BTC  2021-04-19  55423.666711  55316.212448  57609.368118  54449.245330

In [3]:
#getting the data ready for time-series modelling
#check for scipt
""" '''when needed'''
try:
    import scipy as spy
    print("Imported scipy")
except ImportError:
    print("Some error occured")
    
"""

' \'\'\'when needed\'\'\'\ntry:\n    import scipy as spy\n    print("Imported scipy")\nexcept ImportError:\n    print("Some error occured")\n    \n'

In [5]:
import tensorflow as tf
import keras

ModuleNotFoundError: No module named 'tensorflow'

In [6]:
from os import system

In [8]:
system('conda install tensorflow')

0